@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark-green: rgb(96, 165, 96);
  --clr-light-bg: white;
  --clr-action: rgb(35, 194, 35);
  --clr-details: rgb(82, 139, 82);
  --clr-text: #1d1d1d;
}

body,
html {
  font-size: 16px;
  height: 100%;
}

a,
a:visited {
  color: var(--clr-details);
  text-decoration: none;
}

body {
  background-image: url("./images/green-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box__container {
  width: min(90%, 400px);
  min-height: max-content;
  background-color: white;
  color: var(--clr-text);
  border: none;
  border-radius: 0.5rem;
  padding: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.3);
}

.password__container {
  display: flex;
  margin: 1rem auto;
  position: relative;
  min-width: 100%;
  min-height: 50px;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.copied-popup {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  background-color: rgb(214, 214, 214);
  color: var(--clr-text);
  font-weight: 700;
  border-radius: 0.5rem;
  /* transform: translateX(50%); */
  animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.password__container .result {
  flex: 1;
  padding: 10px;
}

.password__container img {
  padding: 0 5px;
  cursor: pointer;
  opacity: 0.5;
}

.password__container img:hover {
  opacity: 1;
}

.trivia {
  font-size: 0.75rem;
  display: block;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.info {
  color: var(--clr-details);
  cursor: pointer;
}

.info:hover,
a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.trivia__popup {
  position: absolute;
  text-align: left;
  top: 30px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 0.5rem;
  max-height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.trivia__popup::-webkit-scrollbar {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 2rem;
  min-width: 100%;
}

.form__input {
  display: flex;
  align-items: center;
}

.form__input label {
  flex: 1;
}

.form__input input {
  accent-color: var(--clr-details);
}

.btn {
  padding: 0.7em 1.25em;
  background-color: var(--clr-details);
  font-size: 1rem;
  font-family: inherit;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--clr-dark-green);
}

.btn:active {
  transform: scale(0.95);
}

.author__info {
  margin-top: 4rem;
}
